# Librerias

In [84]:
import requests
import pandas as pd
from datetime import datetime
import time
import os
import base64
import json
import numpy as np

# Extraer

In [2]:
url = 'https://pokeapi.co/api/v2/pokemon?limit=100000&offset=0'
response = requests.get(url)
data = response.json()

In [81]:
save_directory = './pokemon-sprites/'
if not os.path.exists(save_directory):
    os.makedirs(save_directory)

In [4]:
list_pkmn_primary_data = []
list_abilities = []
list_game_appears = []
list_stats = []
list_types = []
list_pokedex_description = []
list_evolutions = []

for pokemon in data['results']:
    response_info_pokemon = requests.get(pokemon['url'])
    data_info_pokemon = response_info_pokemon.json()
    
    # Datos principales
    id_pokemon = data_info_pokemon['id']
    pokemon_name = pokemon['name']
    pokemon_order = data_info_pokemon['order']
    pokemon_weight = data_info_pokemon['weight']
    pokemon_height = data_info_pokemon['height']
    
    # Datos de habilidades
    pokemon_abilities = data_info_pokemon['abilities']
    for ability in pokemon_abilities:
        ability_name = ability['ability']['name']
        ability_is_hidden = ability['is_hidden']
        # URL de la habildiad para obtener la descripción
        ability_url = ability['ability']['url']
        response_ability_pokemon = requests.get(ability_url)
        data_ability_pokemon = response_ability_pokemon.json()
        id_ability = data_ability_pokemon['id']
        # Obtener la descripcion en ingles de la la habildiad
        for ability in data_ability_pokemon['flavor_text_entries']:
            if ability['language']['name'] == 'en':
                ability_description = ability['flavor_text']
        
        list_abilities.append([id_pokemon, id_ability, ability_name, ability_is_hidden, ability_description])
    
    # Datos Especie
    species_url = data_info_pokemon['species']['url']
    response_species = requests.get(species_url)
    data_species = response_species.json()
    flavor_text_entries = data_species['flavor_text_entries']
    for entry in flavor_text_entries:
        if entry['language']['name'] == 'en':
            flavor_text = entry['flavor_text']
            flavor_text = flavor_text.replace("\n", ' ')
            game_name = entry['version']['name']
        list_pokedex_description.append([id_pokemon, flavor_text, game_name])

    # Datos Evolucion
    evolution_chain_url = data_species['evolution_chain']['url']
    response_evolution_chain = requests.get(evolution_chain_url)
    data_evolution_chain = response_evolution_chain.json()
    if len(data_evolution_chain['chain']['evolves_to']) > 0:
        for evolve_to_1 in data_evolution_chain['chain']['evolves_to']: 
            evolve_to_pkmn = evolve_to_1['species']['name']
            if len(evolve_to_1['evolution_details']) > 0:
                evol_req_gender = evolve_to_1['evolution_details'][0]['gender']
                evol_req_held_item = evolve_to_1['evolution_details'][0]['held_item']
                evol_req_item = evolve_to_1['evolution_details'][0]['item']
                evol_req_known_move = evolve_to_1['evolution_details'][0]['known_move']
                evol_req_known_move_type = evolve_to_1['evolution_details'][0]['known_move_type']
                evol_req_location = evolve_to_1['evolution_details'][0]['location']
                evol_req_min_affection = evolve_to_1['evolution_details'][0]['min_affection']
                evol_req_min_beauty = evolve_to_1['evolution_details'][0]['min_beauty']
                evol_req_min_happiness = evolve_to_1['evolution_details'][0]['min_happiness']
                evol_req_min_level = evolve_to_1['evolution_details'][0]['min_level']
                evol_req_needs_overworld_rain = evolve_to_1['evolution_details'][0]['needs_overworld_rain']
                evol_req_party_species = evolve_to_1['evolution_details'][0]['party_species']
                evol_req_party_type = evolve_to_1['evolution_details'][0]['party_type']
                evol_req_relative_physical_stats = evolve_to_1['evolution_details'][0]['relative_physical_stats']
                evol_req_time_of_day = evolve_to_1['evolution_details'][0]['time_of_day']
                evol_req_trade_species = evolve_to_1['evolution_details'][0]['trade_species']
                evol_req_turn_upside_down = evolve_to_1['evolution_details'][0]['turn_upside_down']
            else:
                evol_req_gender = ''
                evol_req_held_item = ''
                evol_req_item = ''
                evol_req_known_move = ''
                evol_req_known_move_type = ''
                evol_req_location = ''
                evol_req_min_affection = ''
                evol_req_min_beauty = ''
                evol_req_min_happiness = ''
                evol_req_min_level = ''
                evol_req_needs_overworld_rain = ''
                evol_req_party_species = ''
                evol_req_party_type = ''
                evol_req_relative_physical_stats = ''
                evol_req_time_of_day = ''
                evol_req_trade_species = ''
                evol_req_turn_upside_down = ''
            list_evolutions.append([id_pokemon,
                evolve_to_pkmn, evol_req_gender, evol_req_held_item
                , evol_req_item, evol_req_known_move, evol_req_known_move_type
                , evol_req_location, evol_req_min_affection, evol_req_min_beauty
                , evol_req_min_happiness, evol_req_min_level, evol_req_needs_overworld_rain
                , evol_req_party_species, evol_req_party_type, evol_req_relative_physical_stats
                , evol_req_time_of_day, evol_req_trade_species, evol_req_turn_upside_down,
            ])
            if len(evolve_to_1['evolves_to']) > 0:
                for evolve_to_2 in evolve_to_1['evolves_to']:
                    evolve_to_pkmn = evolve_to_2['species']['name']
                    if len(evolve_to_2['evolution_details']) > 0:
                        evol_req_gender = evolve_to_2['evolution_details'][0]['gender']
                        evol_req_held_item = evolve_to_2['evolution_details'][0]['held_item']
                        evol_req_item = evolve_to_2['evolution_details'][0]['item']
                        evol_req_known_move = evolve_to_2['evolution_details'][0]['known_move']
                        evol_req_known_move_type = evolve_to_2['evolution_details'][0]['known_move_type']
                        evol_req_location = evolve_to_2['evolution_details'][0]['location']
                        evol_req_min_affection = evolve_to_2['evolution_details'][0]['min_affection']
                        evol_req_min_beauty = evolve_to_2['evolution_details'][0]['min_beauty']
                        evol_req_min_happiness = evolve_to_2['evolution_details'][0]['min_happiness']
                        evol_req_min_level = evolve_to_2['evolution_details'][0]['min_level']
                        evol_req_needs_overworld_rain = evolve_to_2['evolution_details'][0]['needs_overworld_rain']
                        evol_req_party_species = evolve_to_2['evolution_details'][0]['party_species']
                        evol_req_party_type = evolve_to_2['evolution_details'][0]['party_type']
                        evol_req_relative_physical_stats = evolve_to_2['evolution_details'][0]['relative_physical_stats']
                        evol_req_time_of_day = evolve_to_2['evolution_details'][0]['time_of_day']
                        evol_req_trade_species = evolve_to_2['evolution_details'][0]['trade_species']
                        evol_req_turn_upside_down = evolve_to_2['evolution_details'][0]['turn_upside_down']
                    else:
                        evol_req_gender = ''
                        evol_req_held_item = ''
                        evol_req_item = ''
                        evol_req_known_move = ''
                        evol_req_known_move_type = ''
                        evol_req_location = ''
                        evol_req_min_affection = ''
                        evol_req_min_beauty = ''
                        evol_req_min_happiness = ''
                        evol_req_min_level = ''
                        evol_req_needs_overworld_rain = ''
                        evol_req_party_species = ''
                        evol_req_party_type = ''
                        evol_req_relative_physical_stats = ''
                        evol_req_time_of_day = ''
                        evol_req_trade_species = ''
                        evol_req_turn_upside_down = ''
                    list_evolutions.append([id_pokemon,
                        evolve_to_pkmn, evol_req_gender, evol_req_held_item
                        , evol_req_item, evol_req_known_move, evol_req_known_move_type
                        , evol_req_location, evol_req_min_affection, evol_req_min_beauty
                        , evol_req_min_happiness, evol_req_min_level, evol_req_needs_overworld_rain
                        , evol_req_party_species, evol_req_party_type, evol_req_relative_physical_stats
                        , evol_req_time_of_day, evol_req_trade_species, evol_req_turn_upside_down,
                    ])

    # Datos de apariciones en versiones
    pokemon_game_indices = data_info_pokemon['game_indices']
    for game in pokemon_game_indices:
        game_name = game['version']['name']
        list_game_appears.append([id_pokemon, game_name])

    # Datos de estadistica
    pokemon_stats = data_info_pokemon['stats']
    for stat in pokemon_stats:
        stat_name = stat['stat']['name']
        stat_base = stat['base_stat']
        stat_effort = stat['effort']
        list_stats.append([id_pokemon, stat_name, stat_base, stat_effort])
            
    # Datos de tipo
    pokemon_types = data_info_pokemon['types']
    for type in pokemon_types:
        type_name = type['type']['name']
        type_number = type['slot']
        list_types.append([id_pokemon, type_name, type_number])

    # Descargar el sprite por defecto del pokemon
    front_default_url = data_info_pokemon['sprites']['front_default']
    if front_default_url:
        image_name = f'{id_pokemon}-{pokemon_name}.png'
        image_path = os.path.join(save_directory, image_name)
        img_response = requests.get(front_default_url)

        if img_response.status_code == 200:
            with open(image_path, 'wb') as img_file:
                img_file.write(img_response.content)
                list_pkmn_primary_data.append([id_pokemon, pokemon_order, pokemon_name, pokemon_weight, pokemon_height, image_path])
                print("Registro exitoso: " + pokemon_name)
        else:
            print('Registro exitoso ' + pokemon_name + ' pero falló la descarga del sprite')
    else:
        print('Registro exitoso ' + pokemon_name + ' pero no existe sprite')
        image_path = ''
        list_pkmn_primary_data.append([id_pokemon, pokemon_order, pokemon_name, pokemon_weight, pokemon_height, image_path])
    
    time.sleep(0.1)

Registro exitoso: bulbasaur
Registro exitoso: ivysaur

KeyboardInterrupt:

In [ ]:
df_pkmn_primary_data_extraer = pd.DataFrame(
    list_pkmn_primary_data,
    columns = ['pkmn_id', 'pokemon_order', 'pokemon_name', 'pokemon_weight', 'pokemon_height', 'pokemon_image_path']
)

df_pkmn_abilities_extraer = pd.DataFrame(
    list_abilities,
    columns = ['pkmn_id', 'ability_id', 'ability_name', 'ability_is_hidden', 'ability_description']
)

df_pkmn_game_appears_extraer = pd.DataFrame(
    list_game_appears,
    columns = ['pkmn_id', 'game_version']
)

df_pkmn_stats_extraer = pd.DataFrame(
    list_stats,
    columns = ['pkmn_id', 'name', 'stat', 'effort']
)

df_pkmn_types_extraer = pd.DataFrame(
    list_types,
    columns = ['pkmn_id', 'name', 'type_number']
)

df_pkmn_pokedex_description_extraer = pd.DataFrame(
    list_pokedex_description,
    columns = ['pkmn_id', 'flavor_text', 'game_name']
)

df_pkmn_evolution_extraer = pd.DataFrame(
    list_evolutions,
    columns = [
        'pkmn_id', 'evolve_to_pkmn', 'evol_req_gender', 'evol_req_held_item'
        , 'evol_req_item', 'evol_req_known_move', 'evol_req_known_move_type'
        , 'evol_req_location', 'evol_req_min_affection', 'evol_req_min_beauty'
        , 'evol_req_min_happiness', 'evol_req_min_level', 'evol_req_needs_overworld_rain'
        , 'evol_req_party_species', 'evol_req_party_type', 'evol_req_relative_physical_stats'
        , 'evol_req_time_of_day', 'evol_req_trade_species', 'evol_req_turn_upside_down',
        ]
)

In [ ]:
df_pkmn_evolution_extraer.head(100)

,pkmn_id,evolve_to_pkmn,evol_req_gender,evol_req_held_item,evol_req_item,evol_req_known_move,evol_req_known_move_type,evol_req_location,evol_req_min_affection,evol_req_min_beauty,evol_req_min_happiness,evol_req_min_level,evol_req_needs_overworld_rain,evol_req_party_species,evol_req_party_type,evol_req_relative_physical_stats,evol_req_time_of_day,evol_req_trade_species,evol_req_turn_upside_down
0,1,ivysaur,None,None,None,None,None,None,None,None,None,16,False,None,None,None,,None,False
1,1,venusaur,None,None,None,None,None,None,None,None,None,32,False,None,None,None,,None,False
2,2,ivysaur,None,None,None,None,None,None,None,None,None,16,False,None,None,None,,None,False
3,2,venusaur,None,None,None,None,None,None,None,None,None,32,False,None,None,None,,None,False
4,3,ivysaur,None,None,None,None,None,None,None,None,None,16,False,None,None,None,,None,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,56,primeape,None,None,None,None,None,None,None,None,None,28,False,None,None,None,,None,False
96,56,annihilape,None,None,None,None,None,None,None,None,None,None,False,None,None,None,,None,False
97,57,primeape,None,None,None,None,None,None,None,None,None,28,False,None,None,None,,None,False
98,57,annihilape,None,None,None,None,None,None,None,None,None,None,False,None,None,None,,None,False
99,58,arcanine,None,None,"{'name': 'fire-stone', 'url': 'https://pokeapi...",None,None,None,None,None,None,None,False,None,None,None,,None,False

In [ ]:
df_pkmn_primary_data_extraer['extraer_datetime'] = datetime.now()
df_pkmn_abilities_extraer['extraer_datetime'] = datetime.now()
df_pkmn_game_appears_extraer['extraer_datetime'] = datetime.now()
df_pkmn_stats_extraer['extraer_datetime'] = datetime.now()
df_pkmn_types_extraer['extraer_datetime'] = datetime.now()
df_pkmn_pokedex_description_extraer['extraer_datetime'] = datetime.now()
df_pkmn_evolution_extraer['extraer_datetime'] = datetime.now()

In [ ]:
df_pkmn_primary_data_extraer.to_csv('fuente/extraer/pkmn_primary_data.csv', index = False, sep = '|')
df_pkmn_abilities_extraer.to_csv('fuente/extraer/pkmn_abilities.csv', index = False, sep = '|')
df_pkmn_game_appears_extraer.to_csv('fuente/extraer/pkmn_game_appears.csv', index = False, sep = '|')
df_pkmn_stats_extraer.to_csv('fuente/extraer/pkmn_stats.csv', index = False, sep = '|')
df_pkmn_types_extraer.to_csv('fuente/extraer/pkmn_types.csv', index = False, sep = '|')
df_pkmn_pokedex_description_extraer.to_csv('fuente/extraer/pkmn_pokedex_description.csv', index = False, sep= '|')
df_pkmn_evolution_extraer.to_csv('fuente/extraer/pkmn_evolution.csv', index= False, sep='|')

# Transformar

## Leer Data

In [250]:
df_pkmn_primary_data_transformar = pd.read_csv('fuente/extraer/pkmn_primary_data.csv', delimiter = '|')
df_pkmn_abilities_transformar = pd.read_csv('fuente/extraer/pkmn_abilities.csv', delimiter = '|')
df_pkmn_types_transformar = pd.read_csv('fuente/extraer/pkmn_types.csv', delimiter= '|')
df_pkmn_game_appears_transformar = pd.read_csv('fuente/extraer/pkmn_game_appears.csv', delimiter='|')
df_pkmn_stats_transformar = pd.read_csv('fuente/extraer/pkmn_stats.csv', delimiter='|')
df_pkmn_pokedex_description_transformar = pd.read_csv('fuente/extraer/pkmn_pokedex_description.csv', delimiter = '|')
df_pkmn_evolution_transformar = pd.read_csv('fuente/extraer/pkmn_evolution.csv', delimiter='|')

In [251]:
# Pkmn Data
df_pkmn_primary_data_transformar = df_pkmn_primary_data_transformar[['pkmn_id', 'pokemon_order', 'pokemon_name', 'pokemon_weight', 'pokemon_height', 'pokemon_image_path']]
# Pkmn abilities
df_pkmn_abilities_transformar = df_pkmn_abilities_transformar[['pkmn_id', 'ability_id', 'ability_name', 'ability_is_hidden', 'ability_description']]
# Pkmn Types
df_pkmn_types_transformar = df_pkmn_types_transformar[['pkmn_id', 'name', 'type_number']]
# Pkmn Gamer Appears
df_pkmn_game_appears_transformar = df_pkmn_game_appears_transformar[['pkmn_id', 'game_version']]
# Pkmn Stats
df_pkmn_stats_transformar = df_pkmn_stats_transformar[['pkmn_id', 'name', 'stat', 'effort']]
# Pkmn Pokedex Description
df_pkmn_pokedex_description_transformar['id_pokedex_description'] = range(1, len(df_pkmn_pokedex_description_transformar) + 1)
df_pkmn_pokedex_description_transformar = df_pkmn_pokedex_description_transformar[['id_pokedex_description', 'pkmn_id', 'game_name', 'flavor_text']]
# Pkmn evolution
df_pkmn_evolution_transformar = df_pkmn_evolution_transformar[['pkmn_id','evolve_to_pkmn', 'evol_req_gender', 'evol_req_held_item', 'evol_req_item', 'evol_req_known_move', 'evol_req_known_move_type', 'evol_req_location', 'evol_req_min_affection', 'evol_req_min_beauty', 'evol_req_min_happiness', 'evol_req_min_level', 'evol_req_needs_overworld_rain', 'evol_req_party_species', 'evol_req_party_type', 'evol_req_relative_physical_stats', 'evol_req_time_of_day', 'evol_req_trade_species', 'evol_req_turn_upside_down']]

## Limpiar tabla evolution

### Limpiar duplicados y agregar indice

In [252]:
# df_pkmn_evolution_transformar = df_pkmn_evolution_transformar.drop_duplicates()
# df_pkmn_evolution_transformar['id_pkmn_evolution'] = range(1, len(df_pkmn_evolution_transformar)+ 1)
# df_pkmn_evolution_transformar = df_pkmn_evolution_transformar[['id_pkmn_evolution','','evolve_to_pkmn', 'evol_req_gender', 'evol_req_held_item', 'evol_req_item', 'evol_req_known_move', 'evol_req_known_move_type', 'evol_req_location', 'evol_req_min_affection', 'evol_req_min_beauty', 'evol_req_min_happiness', 'evol_req_min_level', 'evol_req_needs_overworld_rain', 'evol_req_party_species', 'evol_req_party_type', 'evol_req_relative_physical_stats', 'evol_req_time_of_day', 'evol_req_trade_species', 'evol_req_turn_upside_down']]

In [253]:
df_pkmn_evolution_transformar.head()

,pkmn_id,evolve_to_pkmn,evol_req_gender,evol_req_held_item,evol_req_item,evol_req_known_move,evol_req_known_move_type,evol_req_location,evol_req_min_affection,evol_req_min_beauty,evol_req_min_happiness,evol_req_min_level,evol_req_needs_overworld_rain,evol_req_party_species,evol_req_party_type,evol_req_relative_physical_stats,evol_req_time_of_day,evol_req_trade_species,evol_req_turn_upside_down
0,1,ivysaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,False,NaN,NaN,NaN,NaN,NaN,False
1,1,venusaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,False,NaN,NaN,NaN,NaN,NaN,False
2,2,ivysaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,False,NaN,NaN,NaN,NaN,NaN,False
3,2,venusaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,False,NaN,NaN,NaN,NaN,NaN,False
4,3,ivysaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,False,NaN,NaN,NaN,NaN,NaN,False

### Analizar cada campo de la tabla evolution

#### Campo evol_req_gender
- Los valores 1 representan al requerimiento de que el pokemon debe ser de género hembra
- Los valores 2 representan al requerimiento de que el pokemon debe ser de género macho

In [254]:
df_pkmn_evolution_transformar.groupby('evol_req_gender').size().reset_index(name='count')

   evol_req_gender  count
0              1.0     14
1              2.0     11

El evol_req_gender = 1 son pokemon de genero hembra

In [255]:
df_pkmn_evolution_transformar[df_pkmn_evolution_transformar['evol_req_gender'] == 1]

,pkmn_id,evolve_to_pkmn,evol_req_gender,evol_req_held_item,evol_req_item,evol_req_known_move,evol_req_known_move_type,evol_req_location,evol_req_min_affection,evol_req_min_beauty,evol_req_min_happiness,evol_req_min_level,evol_req_needs_overworld_rain,evol_req_party_species,evol_req_party_type,evol_req_relative_physical_stats,evol_req_time_of_day,evol_req_trade_species,evol_req_turn_upside_down
552,361,froslass,1.0,NaN,"{'name': 'dawn-stone', 'url': 'https://pokeapi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
554,362,froslass,1.0,NaN,"{'name': 'dawn-stone', 'url': 'https://pokeapi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
621,412,wormadam,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,NaN,NaN,NaN,False
623,413,wormadam,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,NaN,NaN,NaN,False
625,414,wormadam,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,NaN,NaN,NaN,False
627,415,vespiquen,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,False,NaN,NaN,NaN,NaN,NaN,False
628,416,vespiquen,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,False,NaN,NaN,NaN,NaN,NaN,False
717,478,froslass,1.0,NaN,"{'name': 'dawn-stone', 'url': 'https://pokeapi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
1051,757,salazzle,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,False,NaN,NaN,NaN,NaN,NaN,False
1052,758,salazzle,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,False,NaN,NaN,NaN,NaN,NaN,False
1320,10004,wormadam,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,NaN,NaN,NaN,False
1322,10005,wormadam,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,NaN,NaN,NaN,False
1386,10074,froslass,1.0,NaN,"{'name': 'dawn-stone', 'url': 'https://pokeapi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
1453,10129,salazzle,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,False,NaN,NaN,NaN,NaN,NaN,False

El evol_req_gender = 2 son pokemon de genero macho

In [256]:
df_pkmn_evolution_transformar[df_pkmn_evolution_transformar['evol_req_gender'] == 2]

,pkmn_id,evolve_to_pkmn,evol_req_gender,evol_req_held_item,evol_req_item,evol_req_known_move,evol_req_known_move_type,evol_req_location,evol_req_min_affection,evol_req_min_beauty,evol_req_min_happiness,evol_req_min_level,evol_req_needs_overworld_rain,evol_req_party_species,evol_req_party_type,evol_req_relative_physical_stats,evol_req_time_of_day,evol_req_trade_species,evol_req_turn_upside_down
463,280,gallade,2.0,NaN,"{'name': 'dawn-stone', 'url': 'https://pokeapi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
466,281,gallade,2.0,NaN,"{'name': 'dawn-stone', 'url': 'https://pokeapi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
469,282,gallade,2.0,NaN,"{'name': 'dawn-stone', 'url': 'https://pokeapi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
622,412,mothim,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,NaN,NaN,NaN,False
624,413,mothim,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,NaN,NaN,NaN,False
626,414,mothim,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,NaN,NaN,NaN,False
712,475,gallade,2.0,NaN,"{'name': 'dawn-stone', 'url': 'https://pokeapi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
1321,10004,mothim,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,NaN,NaN,NaN,False
1323,10005,mothim,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,NaN,NaN,NaN,False
1359,10051,gallade,2.0,NaN,"{'name': 'dawn-stone', 'url': 'https://pokeapi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
1378,10068,gallade,2.0,NaN,"{'name': 'dawn-stone', 'url': 'https://pokeapi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False

Tenerlo en consideración para crear una tabla con ese indice y valor

#### Campo evol_req_held_item

Dentro del evol_req_held contiene un json con la información de cierto item que require el pokemon tenerlo para que pueda evolucionar

In [257]:
df_pkmn_evolution_transformar.groupby('evol_req_held_item').size().reset_index(name='count')

                                   evol_req_held_item  count
0   {'name': 'deep-sea-scale', 'url': 'https://pok...      3
1   {'name': 'deep-sea-tooth', 'url': 'https://pok...      3
2   {'name': 'dragon-scale', 'url': 'https://pokea...      3
3   {'name': 'dubious-disc', 'url': 'https://pokea...      3
4   {'name': 'electirizer', 'url': 'https://pokeap...      3
5   {'name': 'kings-rock', 'url': 'https://pokeapi...     11
6   {'name': 'magmarizer', 'url': 'https://pokeapi...      3
7   {'name': 'metal-coat', 'url': 'https://pokeapi...      7
8   {'name': 'oval-stone', 'url': 'https://pokeapi...      3
9   {'name': 'protector', 'url': 'https://pokeapi....      3
10  {'name': 'razor-claw', 'url': 'https://pokeapi...      8
11  {'name': 'razor-fang', 'url': 'https://pokeapi...      2
12  {'name': 'reaper-cloth', 'url': 'https://pokea...      3
13  {'name': 'sachet', 'url': 'https://pokeapi.co/...      2
14  {'name': 'up-grade', 'url': 'https://pokeapi.c...      3
15  {'name': 'whipped-dream', 'url': 'https://poke...      2

In [258]:
def extract_name_from_json(val):
    if pd.notna(val):  # Verifica si el valor no es NaN
        try:
            # Convierte la cadena JSON a un diccionario si es necesario
            json_obj = json.loads(val.replace("'", "\""))
            # Extrae el valor de la llave 'name'
            return json_obj.get('name', np.nan)
        except (json.JSONDecodeError, TypeError):
            # Si falla la conversión, devuelve NaN
            return np.nan
    return np.nan  # Devuelve NaN si el valor es NaN

In [259]:
df_pkmn_evolution_transformar.loc[:, 'evol_req_held_item'] = df_pkmn_evolution_transformar['evol_req_held_item'].apply(extract_name_from_json)

In [260]:
df_pkmn_evolution_transformar.groupby('evol_req_held_item').size().reset_index(name='count')

   evol_req_held_item  count
0      deep-sea-scale      3
1      deep-sea-tooth      3
2        dragon-scale      3
3        dubious-disc      3
4         electirizer      3
5          kings-rock     11
6          magmarizer      3
7          metal-coat      7
8          oval-stone      3
9           protector      3
10         razor-claw      8
11         razor-fang      2
12       reaper-cloth      3
13             sachet      2
14           up-grade      3
15      whipped-dream      2

#### Campo evol_req_item

In [261]:
df_pkmn_evolution_transformar.groupby('evol_req_item').size().reset_index(name='count')

                                        evol_req_item  count
0   {'name': 'auspicious-armor', 'url': 'https://p...      3
1   {'name': 'black-augurite', 'url': 'https://pok...      4
2   {'name': 'cracked-pot', 'url': 'https://pokeap...      2
3   {'name': 'dawn-stone', 'url': 'https://pokeapi...     10
4   {'name': 'dusk-stone', 'url': 'https://pokeapi...     11
5   {'name': 'fire-stone', 'url': 'https://pokeapi...     23
6   {'name': 'ice-stone', 'url': 'https://pokeapi....      2
7   {'name': 'leaf-stone', 'url': 'https://pokeapi...     15
8   {'name': 'malicious-armor', 'url': 'https://po...      3
9   {'name': 'moon-stone', 'url': 'https://pokeapi...     16
10  {'name': 'peat-block', 'url': 'https://pokeapi...      4
11  {'name': 'shiny-stone', 'url': 'https://pokeap...     12
12  {'name': 'sun-stone', 'url': 'https://pokeapi....     13
13  {'name': 'sweet-apple', 'url': 'https://pokeap...      7
14  {'name': 'tart-apple', 'url': 'https://pokeapi...      7
15  {'name': 'thunder-stone', 'url': 'https://poke...     36
16  {'name': 'water-stone', 'url': 'https://pokeap...     24

In [262]:
df_pkmn_evolution_transformar.loc[:, 'evol_req_item'] = df_pkmn_evolution_transformar['evol_req_item'].apply(extract_name_from_json)

In [263]:
df_pkmn_evolution_transformar.groupby('evol_req_item').size().reset_index(name='count')

       evol_req_item  count
0   auspicious-armor      3
1     black-augurite      4
2        cracked-pot      2
3         dawn-stone     10
4         dusk-stone     11
5         fire-stone     23
6          ice-stone      2
7         leaf-stone     15
8    malicious-armor      3
9         moon-stone     16
10        peat-block      4
11       shiny-stone     12
12         sun-stone     13
13       sweet-apple      7
14        tart-apple      7
15     thunder-stone     36
16       water-stone     24

#### Campo evol_req_known_move

In [264]:
df_pkmn_evolution_transformar.groupby('evol_req_known_move').size().reset_index(name='count')

                                  evol_req_known_move  count
0   {'name': 'ancient-power', 'url': 'https://poke...      7
1   {'name': 'barb-barrage', 'url': 'https://pokea...      3
2   {'name': 'double-hit', 'url': 'https://pokeapi...      2
3   {'name': 'dragon-pulse', 'url': 'https://pokea...      2
4   {'name': 'hyper-drill', 'url': 'https://pokeap...      3
5   {'name': 'mimic', 'url': 'https://pokeapi.co/a...      6
6   {'name': 'psyshield-bash', 'url': 'https://pok...      2
7   {'name': 'rollout', 'url': 'https://pokeapi.co...      2
8   {'name': 'stomp', 'url': 'https://pokeapi.co/a...      3
9   {'name': 'taunt', 'url': 'https://pokeapi.co/a...      2
10  {'name': 'twin-beam', 'url': 'https://pokeapi....      2

In [265]:
df_pkmn_evolution_transformar.loc[:, 'evol_req_known_move'] = df_pkmn_evolution_transformar['evol_req_known_move'].apply(extract_name_from_json)

In [266]:
df_pkmn_evolution_transformar.groupby('evol_req_known_move').size().reset_index(name='count')

   evol_req_known_move  count
0        ancient-power      7
1         barb-barrage      3
2           double-hit      2
3         dragon-pulse      2
4          hyper-drill      3
5                mimic      6
6       psyshield-bash      2
7              rollout      2
8                stomp      3
9                taunt      2
10           twin-beam      2

#### Campo evol_req_known_move_type

In [267]:
df_pkmn_evolution_transformar.groupby('evol_req_known_move_type').size().reset_index(name='count')

                            evol_req_known_move_type  count
0  {'name': 'fairy', 'url': 'https://pokeapi.co/a...     11

In [268]:
df_pkmn_evolution_transformar[df_pkmn_evolution_transformar['evol_req_known_move_type'].notna()]

,pkmn_id,evolve_to_pkmn,evol_req_gender,evol_req_held_item,evol_req_item,evol_req_known_move,evol_req_known_move_type,evol_req_location,evol_req_min_affection,evol_req_min_beauty,evol_req_min_happiness,evol_req_min_level,evol_req_needs_overworld_rain,evol_req_party_species,evol_req_party_type,evol_req_relative_physical_stats,evol_req_time_of_day,evol_req_trade_species,evol_req_turn_upside_down
214,133,sylveon,NaN,NaN,NaN,NaN,"{'name': 'fairy', 'url': 'https://pokeapi.co/a...",NaN,2.0,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
222,134,sylveon,NaN,NaN,NaN,NaN,"{'name': 'fairy', 'url': 'https://pokeapi.co/a...",NaN,2.0,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
230,135,sylveon,NaN,NaN,NaN,NaN,"{'name': 'fairy', 'url': 'https://pokeapi.co/a...",NaN,2.0,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
238,136,sylveon,NaN,NaN,NaN,NaN,"{'name': 'fairy', 'url': 'https://pokeapi.co/a...",NaN,2.0,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
332,196,sylveon,NaN,NaN,NaN,NaN,"{'name': 'fairy', 'url': 'https://pokeapi.co/a...",NaN,2.0,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
340,197,sylveon,NaN,NaN,NaN,NaN,"{'name': 'fairy', 'url': 'https://pokeapi.co/a...",NaN,2.0,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
696,470,sylveon,NaN,NaN,NaN,NaN,"{'name': 'fairy', 'url': 'https://pokeapi.co/a...",NaN,2.0,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
704,471,sylveon,NaN,NaN,NaN,NaN,"{'name': 'fairy', 'url': 'https://pokeapi.co/a...",NaN,2.0,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
988,700,sylveon,NaN,NaN,NaN,NaN,"{'name': 'fairy', 'url': 'https://pokeapi.co/a...",NaN,2.0,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
1472,10159,sylveon,NaN,NaN,NaN,NaN,"{'name': 'fairy', 'url': 'https://pokeapi.co/a...",NaN,2.0,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
1525,10205,sylveon,NaN,NaN,NaN,NaN,"{'name': 'fairy', 'url': 'https://pokeapi.co/a...",NaN,2.0,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False

In [269]:
df_pkmn_evolution_transformar.loc[:, 'evol_req_known_move_type'] = df_pkmn_evolution_transformar['evol_req_known_move_type'].apply(extract_name_from_json)

In [270]:
df_pkmn_evolution_transformar.groupby('evol_req_known_move_type').size().reset_index(name='count')

  evol_req_known_move_type  count
0                    fairy     11

#### Campo evol_req_location

In [271]:
df_pkmn_evolution_transformar.groupby('evol_req_location').size().reset_index(name='count')

                                   evol_req_location  count
0  {'name': 'eterna-forest', 'url': 'https://poke...     11
1  {'name': 'mount-lanakila', 'url': 'https://pok...      2
2  {'name': 'mt-coronet', 'url': 'https://pokeapi...      5
3  {'name': 'sinnoh-route-217', 'url': 'https://p...     11

In [272]:
df_pkmn_evolution_transformar.loc[:, 'evol_req_location'] = df_pkmn_evolution_transformar['evol_req_location'].apply(extract_name_from_json)

In [273]:
df_pkmn_evolution_transformar.groupby('evol_req_location').size().reset_index(name='count')

  evol_req_location  count
0     eterna-forest     11
1    mount-lanakila      2
2        mt-coronet      5
3  sinnoh-route-217     11

#### Campo evol_req_min_affection

In [274]:
df_pkmn_evolution_transformar.groupby('evol_req_min_affection').size().reset_index(name='count')

   evol_req_min_affection  count
0                     2.0     11

#### Campo evol_req_min_beauty

In [275]:
df_pkmn_evolution_transformar.groupby('evol_req_min_beauty').size().reset_index(name='count')

   evol_req_min_beauty  count
0                171.0      2

#### Campo evol_req_min_happiness

In [276]:
df_pkmn_evolution_transformar.groupby('evol_req_min_happiness').size().reset_index(name='count')

   evol_req_min_happiness  count
0                   160.0     58
1                   220.0     25

#### Campo evol_req_need_overworld_rain

In [277]:
df_pkmn_evolution_transformar.groupby('evol_req_needs_overworld_rain').size().reset_index(name='count')

   evol_req_needs_overworld_rain  count
0                          False   1569
1                           True      5

In [278]:
df_pkmn_evolution_transformar[df_pkmn_evolution_transformar['evol_req_needs_overworld_rain'] == True]

,pkmn_id,evolve_to_pkmn,evol_req_gender,evol_req_held_item,evol_req_item,evol_req_known_move,evol_req_known_move_type,evol_req_location,evol_req_min_affection,evol_req_min_beauty,evol_req_min_happiness,evol_req_min_level,evol_req_needs_overworld_rain,evol_req_party_species,evol_req_party_type,evol_req_relative_physical_stats,evol_req_time_of_day,evol_req_trade_species,evol_req_turn_upside_down
990,704,goodra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,True,NaN,NaN,NaN,NaN,NaN,False
992,705,goodra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,True,NaN,NaN,NaN,NaN,NaN,False
994,706,goodra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,True,NaN,NaN,NaN,NaN,NaN,False
1578,10241,goodra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,True,NaN,NaN,NaN,NaN,NaN,False
1580,10242,goodra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,True,NaN,NaN,NaN,NaN,NaN,False

#### Campo evol_req_party_species

In [279]:
df_pkmn_evolution_transformar.groupby('evol_req_party_species').size().reset_index(name='count')

                              evol_req_party_species  count
0  {'name': 'remoraid', 'url': 'https://pokeapi.c...      2

In [280]:
df_pkmn_evolution_transformar.loc[:, 'evol_req_party_species'] = df_pkmn_evolution_transformar['evol_req_party_species'].apply(extract_name_from_json)

In [281]:
df_pkmn_evolution_transformar.groupby('evol_req_party_species').size().reset_index(name='count')

  evol_req_party_species  count
0               remoraid      2

In [282]:
df_pkmn_evolution_transformar[df_pkmn_evolution_transformar['evol_req_party_species'] == 'remoraid']

,pkmn_id,evolve_to_pkmn,evol_req_gender,evol_req_held_item,evol_req_item,evol_req_known_move,evol_req_known_move_type,evol_req_location,evol_req_min_affection,evol_req_min_beauty,evol_req_min_happiness,evol_req_min_level,evol_req_needs_overworld_rain,evol_req_party_species,evol_req_party_type,evol_req_relative_physical_stats,evol_req_time_of_day,evol_req_trade_species,evol_req_turn_upside_down
372,226,mantine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,remoraid,NaN,NaN,NaN,NaN,False
671,458,mantine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,remoraid,NaN,NaN,NaN,NaN,False

#### Campo evol_req_party_type

In [283]:
df_pkmn_evolution_transformar.groupby('evol_req_party_type').size().reset_index(name='count')

                                 evol_req_party_type  count
0  {'name': 'dark', 'url': 'https://pokeapi.co/ap...      2

In [284]:
df_pkmn_evolution_transformar.loc[:, 'evol_req_party_type'] = df_pkmn_evolution_transformar['evol_req_party_type'].apply(extract_name_from_json)

In [285]:
df_pkmn_evolution_transformar.groupby('evol_req_party_type').size().reset_index(name='count')

  evol_req_party_type  count
0                dark      2

#### Campo evol_req_relative_physical_stats

In [286]:
df_pkmn_evolution_transformar.groupby('evol_req_relative_physical_stats').size().reset_index(name='count')

   evol_req_relative_physical_stats  count
0                              -1.0      4
1                               0.0      4
2                               1.0      4

In [287]:
df_pkmn_evolution_transformar[df_pkmn_evolution_transformar['evol_req_relative_physical_stats'] == -1.0]

,pkmn_id,evolve_to_pkmn,evol_req_gender,evol_req_held_item,evol_req_item,evol_req_known_move,evol_req_known_move_type,evol_req_location,evol_req_min_affection,evol_req_min_beauty,evol_req_min_happiness,evol_req_min_level,evol_req_needs_overworld_rain,evol_req_party_species,evol_req_party_type,evol_req_relative_physical_stats,evol_req_time_of_day,evol_req_trade_species,evol_req_turn_upside_down
173,106,hitmonchan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,-1.0,NaN,NaN,False
176,107,hitmonchan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,-1.0,NaN,NaN,False
383,236,hitmonchan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,-1.0,NaN,NaN,False
386,237,hitmonchan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,-1.0,NaN,NaN,False

In [288]:
df_pkmn_evolution_transformar[df_pkmn_evolution_transformar['evol_req_relative_physical_stats'] == 1.0]

,pkmn_id,evolve_to_pkmn,evol_req_gender,evol_req_held_item,evol_req_item,evol_req_known_move,evol_req_known_move_type,evol_req_location,evol_req_min_affection,evol_req_min_beauty,evol_req_min_happiness,evol_req_min_level,evol_req_needs_overworld_rain,evol_req_party_species,evol_req_party_type,evol_req_relative_physical_stats,evol_req_time_of_day,evol_req_trade_species,evol_req_turn_upside_down
172,106,hitmonlee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,1.0,NaN,NaN,False
175,107,hitmonlee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,1.0,NaN,NaN,False
382,236,hitmonlee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,1.0,NaN,NaN,False
385,237,hitmonlee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,1.0,NaN,NaN,False

In [289]:
df_pkmn_evolution_transformar[df_pkmn_evolution_transformar['evol_req_relative_physical_stats'] == 0.0]

,pkmn_id,evolve_to_pkmn,evol_req_gender,evol_req_held_item,evol_req_item,evol_req_known_move,evol_req_known_move_type,evol_req_location,evol_req_min_affection,evol_req_min_beauty,evol_req_min_happiness,evol_req_min_level,evol_req_needs_overworld_rain,evol_req_party_species,evol_req_party_type,evol_req_relative_physical_stats,evol_req_time_of_day,evol_req_trade_species,evol_req_turn_upside_down
174,106,hitmontop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,0.0,NaN,NaN,False
177,107,hitmontop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,0.0,NaN,NaN,False
384,236,hitmontop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,0.0,NaN,NaN,False
387,237,hitmontop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,False,NaN,NaN,0.0,NaN,NaN,False

#### Campo evol_req_time_of_day

In [290]:
df_pkmn_evolution_transformar.groupby('evol_req_time_of_day').size().reset_index(name='count')

  evol_req_time_of_day  count
0                  day     37
1            full-moon      4
2                night     30

#### Campo evol_req_trade_species

In [291]:
df_pkmn_evolution_transformar.groupby('evol_req_trade_species').size().reset_index(name='count')

                              evol_req_trade_species  count
0  {'name': 'karrablast', 'url': 'https://pokeapi...      2
1  {'name': 'shelmet', 'url': 'https://pokeapi.co...      2

In [292]:
df_pkmn_evolution_transformar.loc[:, 'evol_req_trade_species'] = df_pkmn_evolution_transformar['evol_req_trade_species'].apply(extract_name_from_json)

In [293]:
df_pkmn_evolution_transformar.groupby('evol_req_trade_species').size().reset_index(name='count')

  evol_req_trade_species  count
0             karrablast      2
1                shelmet      2

In [294]:
df_pkmn_evolution_transformar[df_pkmn_evolution_transformar['evol_req_trade_species']=='karrablast']

,pkmn_id,evolve_to_pkmn,evol_req_gender,evol_req_held_item,evol_req_item,evol_req_known_move,evol_req_known_move_type,evol_req_location,evol_req_min_affection,evol_req_min_beauty,evol_req_min_happiness,evol_req_min_level,evol_req_needs_overworld_rain,evol_req_party_species,evol_req_party_type,evol_req_relative_physical_stats,evol_req_time_of_day,evol_req_trade_species,evol_req_turn_upside_down
889,616,accelgor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,karrablast,False
890,617,accelgor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,karrablast,False

In [295]:
df_pkmn_evolution_transformar[df_pkmn_evolution_transformar['evol_req_trade_species']=='shelmet']

,pkmn_id,evolve_to_pkmn,evol_req_gender,evol_req_held_item,evol_req_item,evol_req_known_move,evol_req_known_move_type,evol_req_location,evol_req_min_affection,evol_req_min_beauty,evol_req_min_happiness,evol_req_min_level,evol_req_needs_overworld_rain,evol_req_party_species,evol_req_party_type,evol_req_relative_physical_stats,evol_req_time_of_day,evol_req_trade_species,evol_req_turn_upside_down
851,588,escavalier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,shelmet,False
852,589,escavalier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,shelmet,False

#### Campo evol_req_turn_upside_down

In [296]:
df_pkmn_evolution_transformar.groupby('evol_req_turn_upside_down').size().reset_index(name='count')

   evol_req_turn_upside_down  count
0                      False   1572
1                       True      2

In [297]:
df_pkmn_evolution_transformar[df_pkmn_evolution_transformar['evol_req_turn_upside_down']== True]

,pkmn_id,evolve_to_pkmn,evol_req_gender,evol_req_held_item,evol_req_item,evol_req_known_move,evol_req_known_move_type,evol_req_location,evol_req_min_affection,evol_req_min_beauty,evol_req_min_happiness,evol_req_min_level,evol_req_needs_overworld_rain,evol_req_party_species,evol_req_party_type,evol_req_relative_physical_stats,evol_req_time_of_day,evol_req_trade_species,evol_req_turn_upside_down
967,686,malamar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,False,NaN,NaN,NaN,NaN,NaN,True
968,687,malamar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,False,NaN,NaN,NaN,NaN,NaN,True

In [298]:
df_pkmn_evolution_transformar.head()

,pkmn_id,evolve_to_pkmn,evol_req_gender,evol_req_held_item,evol_req_item,evol_req_known_move,evol_req_known_move_type,evol_req_location,evol_req_min_affection,evol_req_min_beauty,evol_req_min_happiness,evol_req_min_level,evol_req_needs_overworld_rain,evol_req_party_species,evol_req_party_type,evol_req_relative_physical_stats,evol_req_time_of_day,evol_req_trade_species,evol_req_turn_upside_down
0,1,ivysaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,False,NaN,NaN,NaN,NaN,NaN,False
1,1,venusaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,False,NaN,NaN,NaN,NaN,NaN,False
2,2,ivysaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,False,NaN,NaN,NaN,NaN,NaN,False
3,2,venusaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,False,NaN,NaN,NaN,NaN,NaN,False
4,3,ivysaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,False,NaN,NaN,NaN,NaN,NaN,False

## Crear Tabla pkmn_primary_data_evolution_rel

In [299]:
df_temp = df_pkmn_primary_data_transformar[['pkmn_id', 'pokemon_name']]

In [300]:
df_pkmn_evolution_transformar.head()

,pkmn_id,evolve_to_pkmn,evol_req_gender,evol_req_held_item,evol_req_item,evol_req_known_move,evol_req_known_move_type,evol_req_location,evol_req_min_affection,evol_req_min_beauty,evol_req_min_happiness,evol_req_min_level,evol_req_needs_overworld_rain,evol_req_party_species,evol_req_party_type,evol_req_relative_physical_stats,evol_req_time_of_day,evol_req_trade_species,evol_req_turn_upside_down
0,1,ivysaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,False,NaN,NaN,NaN,NaN,NaN,False
1,1,venusaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,False,NaN,NaN,NaN,NaN,NaN,False
2,2,ivysaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,False,NaN,NaN,NaN,NaN,NaN,False
3,2,venusaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,False,NaN,NaN,NaN,NaN,NaN,False
4,3,ivysaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,False,NaN,NaN,NaN,NaN,NaN,False

In [301]:
df_pkmn_primary_data_evolution_rel_transformar = pd.merge(df_pkmn_evolution_transformar, 
                    df_temp, 
                    left_on='evolve_to_pkmn', 
                    right_on='pokemon_name', 
                    how='left')

In [302]:
df_pkmn_primary_data_evolution_rel_transformar.head()

,pkmn_id_x,evolve_to_pkmn,evol_req_gender,evol_req_held_item,evol_req_item,evol_req_known_move,evol_req_known_move_type,evol_req_location,evol_req_min_affection,evol_req_min_beauty,...,evol_req_min_level,evol_req_needs_overworld_rain,evol_req_party_species,evol_req_party_type,evol_req_relative_physical_stats,evol_req_time_of_day,evol_req_trade_species,evol_req_turn_upside_down,pkmn_id_y,pokemon_name
0,1,ivysaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,False,NaN,NaN,NaN,NaN,NaN,False,2.0,ivysaur
1,1,venusaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.0,False,NaN,NaN,NaN,NaN,NaN,False,3.0,venusaur
2,2,ivysaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,False,NaN,NaN,NaN,NaN,NaN,False,2.0,ivysaur
3,2,venusaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.0,False,NaN,NaN,NaN,NaN,NaN,False,3.0,venusaur
4,3,ivysaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,False,NaN,NaN,NaN,NaN,NaN,False,2.0,ivysaur

In [303]:
df_pkmn_primary_data_evolution_rel_transformar.rename(columns={'pkmn_id_x': 'pkmn_id', 
                            'pkmn_id_y': 'pkmn_id_evolve_to'}, inplace=True)

In [304]:
df_pkmn_primary_data_evolution_rel_transformar.head()

,pkmn_id,evolve_to_pkmn,evol_req_gender,evol_req_held_item,evol_req_item,evol_req_known_move,evol_req_known_move_type,evol_req_location,evol_req_min_affection,evol_req_min_beauty,...,evol_req_min_level,evol_req_needs_overworld_rain,evol_req_party_species,evol_req_party_type,evol_req_relative_physical_stats,evol_req_time_of_day,evol_req_trade_species,evol_req_turn_upside_down,pkmn_id_evolve_to,pokemon_name
0,1,ivysaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,False,NaN,NaN,NaN,NaN,NaN,False,2.0,ivysaur
1,1,venusaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.0,False,NaN,NaN,NaN,NaN,NaN,False,3.0,venusaur
2,2,ivysaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,False,NaN,NaN,NaN,NaN,NaN,False,2.0,ivysaur
3,2,venusaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.0,False,NaN,NaN,NaN,NaN,NaN,False,3.0,venusaur
4,3,ivysaur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,False,NaN,NaN,NaN,NaN,NaN,False,2.0,ivysaur

In [305]:
df_pkmn_primary_data_evolution_rel_transformar = df_pkmn_primary_data_evolution_rel_transformar[['pkmn_id', 'pkmn_id_evolve_to', 'evol_req_gender' , 'evol_req_held_item'
                       , 'evol_req_item', 'evol_req_known_move', 'evol_req_known_move_type'
                       , 'evol_req_location', 'evol_req_min_affection', 'evol_req_min_beauty'
                       , 'evol_req_min_happiness', 'evol_req_min_level'
                       , 'evol_req_needs_overworld_rain', 'evol_req_party_species'
                       , 'evol_req_party_type', 'evol_req_relative_physical_stats'
                       , 'evol_req_time_of_day', 'evol_req_trade_species'
                       , 'evol_req_turn_upside_down']]

In [306]:
df_pkmn_primary_data_evolution_rel_transformar[df_pkmn_primary_data_evolution_rel_transformar['pkmn_id'] == 133]

,pkmn_id,pkmn_id_evolve_to,evol_req_gender,evol_req_held_item,evol_req_item,evol_req_known_move,evol_req_known_move_type,evol_req_location,evol_req_min_affection,evol_req_min_beauty,evol_req_min_happiness,evol_req_min_level,evol_req_needs_overworld_rain,evol_req_party_species,evol_req_party_type,evol_req_relative_physical_stats,evol_req_time_of_day,evol_req_trade_species,evol_req_turn_upside_down
207,133,134.0,NaN,NaN,water-stone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
208,133,135.0,NaN,NaN,thunder-stone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
209,133,136.0,NaN,NaN,fire-stone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
210,133,196.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,160.0,NaN,False,NaN,NaN,NaN,day,NaN,False
211,133,197.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,160.0,NaN,False,NaN,NaN,NaN,night,NaN,False
212,133,470.0,NaN,NaN,NaN,NaN,NaN,eterna-forest,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
213,133,471.0,NaN,NaN,NaN,NaN,NaN,sinnoh-route-217,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False
214,133,700.0,NaN,NaN,NaN,NaN,fairy,NaN,2.0,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,False

## Crear tabla relacion pokemon_primary_data_abilities_rel

In [307]:
# Generar una tabla de habilidades únicas
df_abilities_transformar = df_pkmn_abilities_transformar.copy()
df_abilities_transformar = df_abilities_transformar[['ability_id', 'ability_name', 'ability_description']].drop_duplicates().reset_index(drop=True)

In [308]:
df_abilities_transformar.head()

   ability_id ability_name                                ability_description
0          65     overgrow  Powers up Grass-type moves when the Pokémon's ...
1          34  chlorophyll  Boosts the Pokémon's Speed stat in harsh sunli...
2          66        blaze  Powers up Fire-type moves when the Pokémon's H...
3          94  solar-power  In harsh sunlight, the Pokémon's Sp. Atk stat ...
4          67      torrent  Powers up Water-type moves when the Pokémon's ...

In [309]:
df_pkmn_primary_data_abilities_rel = df_pkmn_abilities_transformar.copy()
df_pkmn_primary_data_abilities_rel = df_pkmn_primary_data_abilities_rel[['pkmn_id', 'ability_id', 'ability_is_hidden']]

In [310]:
df_pkmn_primary_data_abilities_rel.head()

   pkmn_id  ability_id  ability_is_hidden
0        1          65              False
1        1          34               True
2        2          65              False
3        2          34               True
4        3          65              False

## Crear tabla relación pkmn_primary_data_tipos_rel

In [311]:
df_pkmn_types_transformar.head()

   pkmn_id    name  type_number
0        1   grass            1
1        1  poison            2
2        2   grass            1
3        2  poison            2
4        3   grass            1

In [312]:
df_types_transformar = df_pkmn_types_transformar.copy()
df_types_transformar = df_types_transformar[['name']].drop_duplicates().reset_index(drop=True)

In [313]:
df_types_transformar.head()

     name
0   grass
1  poison
2    fire
3  flying
4   water

In [314]:
df_pkmn_primary_data_types_rel = df_pkmn_types_transformar[['pkmn_id', 'name','type_number']]

In [315]:
df_pkmn_primary_data_types_rel.head()

   pkmn_id    name  type_number
0        1   grass            1
1        1  poison            2
2        2   grass            1
3        2  poison            2
4        3   grass            1

## Crear Tabla relacion pkmn_primary_data_stats_rel

In [316]:
df_stats_transformar = df_pkmn_stats_transformar.copy()
df_stats_transformar = df_stats_transformar[['name']].drop_duplicates().reset_index(drop=True)

In [317]:
df_stats_transformar.head()

              name
0               hp
1           attack
2          defense
3   special-attack
4  special-defense

In [318]:
df_pkmn_primary_data_stats_rel = df_pkmn_stats_transformar[['pkmn_id', 'name', 'stat', 'effort']]

In [319]:
df_pkmn_primary_data_stats_rel.head()

   pkmn_id             name  stat  effort
0        1               hp    45       0
1        1           attack    49       0
2        1          defense    49       0
3        1   special-attack    65       1
4        1  special-defense    65       0

## Crear tabla relacion  pkmn_primary_data_pokedex_descripcion_version_juego_rel

In [320]:
df_pkmn_game_appears_transformar.head()

   pkmn_id game_version
0        1          red
1        1         blue
2        1       yellow
3        1         gold
4        1       silver

In [321]:
df_game_transformar = df_pkmn_game_appears_transformar.copy()
df_game_transformar = df_game_transformar[['game_version']].drop_duplicates().reset_index(drop=True)

In [322]:
df_game_transformar.head()

  game_version
0          red
1         blue
2       yellow
3         gold
4       silver

In [323]:
df_pkmn_primary_data_game_appears_rel = df_pkmn_game_appears_transformar[['pkmn_id', 'game_version']]

In [324]:
df_pkmn_primary_data_game_appears_pokedex_description_rel = pd.merge(
    df_pkmn_primary_data_game_appears_rel, df_pkmn_pokedex_description_transformar[['pkmn_id', 'game_name', 'id_pokedex_description']]
    , left_on=['pkmn_id', 'game_version']
    , right_on=['pkmn_id', 'game_name']
    , how='inner'
)

In [325]:
df_pkmn_primary_data_game_appears_pokedex_description_rel = df_pkmn_primary_data_game_appears_pokedex_description_rel[['pkmn_id', 'game_version', 'id_pokedex_description']]

In [326]:
df_pkmn_primary_data_game_appears_pokedex_description_rel.head()

   pkmn_id game_version  id_pokedex_description
0        1          red                       1
1        1         blue                       2
2        1       yellow                       3
3        1         gold                       4
4        1       silver                       5

In [327]:
df_pokedex_description_transformar = df_pkmn_pokedex_description_transformar[['id_pokedex_description', 'flavor_text']]

In [328]:
df_pokedex_description_transformar.head(10)

   id_pokedex_description                                        flavor_text
0                       1  A strange seed was planted on its back at birt...
1                       2  A strange seed was planted on its back at birt...
2                       3  It can go for days without eating a single mor...
3                       4  The seed on its back is filled with nutrients....
4                       5  It carries a seed on its back right from birth...
5                       6  While it is young, it uses the nutrients that ...
6                       7  BULBASAUR can be seen napping in bright sunlig...
7                       8  BULBASAUR can be seen napping in bright sunlig...
8                       9  BULBASAUR can be seen napping in bright sunlig...
9                      10  There is a plant seed on its back right from t...

## Agregar Información de las imagenes Base64

In [329]:
# Agregar información de la imagen en base64 
# save_directory
data_imagenes = []
for image_name in os.listdir(save_directory):
    image_path = os.path.join(save_directory, image_name)

    with open(image_path, 'rb') as img_file:
        base64_string = base64.b64encode(img_file.read()).decode('utf-8')
        img_html = f'<img src="data:image/png;base64,{base64_string}" style="width:{300}px; height:{300}px;" alt="Image"/>'

    data_imagenes.append({
        'pkmn_id': image_name.split('-')[0],
        'image_name': image_name,
        'image_base64': base64_string,
        'img_html': img_html
    })

df_pkmn_images_transformar = pd.DataFrame(data_imagenes)

## Agregarle el DateTime a las tablas

In [330]:
df_pkmn_primary_data_transformar['transformar_datetime'] = datetime.now()

In [331]:
df_pkmn_primary_data_abilities_rel['transformar_datetime'] = datetime.now()

In [167]:
df_pkmn_primary_data_transformar['transformar_datetime'] = datetime.now()
df_pkmn_primary_data_abilities_rel['transformar_datetime'] = datetime.now()
df_pkmn_primary_data_stats_rel['transformar_datetime'] = datetime.now()
df_pkmn_primary_data_types_rel['transformar_datetime'] = datetime.now()
df_pkmn_primary_data_game_appears_pokedex_description_rel['transformar_datetime'] = datetime.now()
df_pkmn_primary_data_evolution_rel_transformar['transformar_datetime'] = datetime.now()
df_abilities_transformar['transformar_datetime'] = datetime.now()
df_stats_transformar['transformar_datetime'] = datetime.now()
df_types_transformar['transformar_datetime'] = datetime.now()
df_game_transformar['transformar_datetime'] = datetime.now()
df_pkmn_images_transformar['transformar_datetime'] = datetime.now()

C:\Users\Daniel Olivera\AppData\Local\Temp\ipykernel_13936\903149009.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pkmn_primary_data_abilities_rel['transformar_datetime'] = datetime.now()

In [188]:
df_pkmn_data_transformar.to_csv('fuente/transformar/pkmn_primary_data.csv.csv', sep = '|', index = False)
df_abilities_transformar.to_csv('fuente/transformar/pkmn_abilities.csv.csv', sep = '|', index = False)
df_pkmn_abilities_rel_transformar.to_csv('fuente/transformar/pkmn_abitilies_rel.csv', sep = '|', index = False)
df_pkmn_types_transformar.to_csv('fuente/transformar/pkmn_types.csv', sep = '|', index = False)
df_pkmn_game_appears_transformar.to_csv('fuente/transformar/pkmn_game_appears.csv', sep = '|', index = False)
df_pkmn_stats_transformar.to_csv('fuente/transformar/pkmn_stats.csv', sep = '|', index = False)
df_pkmn_images_transformar.to_csv('fuente/transformar/pkmn_images.csv', sep = '|', index = False)

# Cargar

In [189]:
df_pkmn_data_cargar = pd.read_csv('fuente/transformar/pkmn_primary_data.csv.csv', delimiter = '|')
df_abilities_cargar = pd.read_csv('fuente/transformar/pkmn_abilities.csv.csv', delimiter = '|')
df_pkmn_abilities_rel_cargar = pd.read_csv('fuente/transformar/pkmn_abitilies_rel.csv', delimiter = '|')
df_pkmn_types_cargar = pd.read_csv('fuente/transformar/pkmn_types.csv', delimiter = '|')
df_pkmn_game_appears_cargar = pd.read_csv('fuente/transformar/pkmn_game_appears.csv', delimiter = '|')
df_pkmn_stats_cargar = pd.read_csv('fuente/transformar/pkmn_stats.csv', delimiter = '|')
df_pkmn_images_cargar = pd.read_csv('fuente/transformar/pkmn_images.csv', delimiter = '|')

In [190]:
df_pkmn_data_cargar = df_pkmn_data_cargar[['pkmn_id', 'pokemon_order', 'pokemon_name', 'pokemon_weight', 'pokemon_height', 'pokemon_image_path']]
df_abilities_cargar = df_abilities_cargar[['ability_id', 'ability_name', 'ability_description']]
df_pkmn_abilities_rel_cargar = df_pkmn_abilities_rel_cargar[['pkmn_id', 'ability_id', 'ability_is_hidden']]
df_pkmn_types_cargar = df_pkmn_types_cargar[['pkmn_id', 'name', 'type_number']]
df_pkmn_game_appears_cargar = df_pkmn_game_appears_cargar[['pkmn_id', 'game_version']]
df_pkmn_stats_cargar = df_pkmn_stats_cargar[['pkmn_id', 'name', 'stat', 'effort']]
df_pkmn_images_cargar = df_pkmn_images_cargar[['pkmn_id', 'image_name', 'image_base64', 'img_html']]

In [191]:
df_pkmn_data_cargar['cargar_datetime'] = datetime.now()
df_abilities_cargar['cargar_datetime'] = datetime.now()
df_pkmn_abilities_rel_cargar['cargar_datetime'] = datetime.now()
df_pkmn_types_cargar['cargar_datetime'] = datetime.now()
df_pkmn_game_appears_cargar['cargar_datetime'] = datetime.now()
df_pkmn_stats_cargar['cargar_datetime'] = datetime.now()
df_pkmn_images_cargar['cargar_datetime'] = datetime.now()

In [192]:
df_pkmn_data_cargar.to_csv('fuente/cargar/pkmn_primary_data.csv', sep = '|', index = False)
df_abilities_cargar.to_csv('fuente/cargar/pkmn_abilities.csv', sep = '|', index = False)
df_pkmn_abilities_rel_cargar.to_csv('fuente/cargar/pkmn_abitilies_rel.csv', sep = '|', index = False)
df_pkmn_types_cargar.to_csv('fuente/cargar/pkmn_types.csv', sep = '|', index = False)
df_pkmn_game_appears_cargar.to_csv('fuente/cargar/pkmn_game_appears.csv', sep = '|', index = False)
df_pkmn_stats_cargar.to_csv('fuente/cargar/pkmn_stats.csv', sep = '|', index = False)
df_pkmn_images_cargar.to_csv('fuente/cargar/pkmn_images.csv', sep = '|', index = False)